@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.selected-asset {
  outline: 3px solid white;
  outline-offset: 2px;

  box-shadow:
    0 0 15px white,
    0 0 30px #00b4ff;

  filter: brightness(1.4);
}
@keyframes radarPulse {
  0% {
    transform: scale(0.8);
    opacity: 0.9;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.radar-pulse {
  position: absolute;

  width: 24px;
  height: 24px;

  border-radius: 9999px;

  animation: radarPulse 1.8s infinite;
}

.radar-blue {
  border: 2px solid #00b4ff;
}

.radar-red {
  border: 2px solid #ff3b30;
}

.radar-orange {
  border: 2px solid #ff9500;
}

.radar-green {
  border: 2px solid #00ff88;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 25s linear infinite;
}